#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# ReusablePotion configuration
########################################

#
#    ReusablePotion.Enable
#        Description: Enables potions to be re-usable in combat.
#        Default:     0 - Disabled
#                     1 - Enabled
#

ReusablePotion.Enable = 0

#
#    ReusablePotion.EnableHealing
#        Description: Enables Healing potions to be re-usable in combat
#        Default:     0 - Disabled
#                     1 - Enabled
#

ReusablePotion.EnableHealing = 1

#
#    ReusablePotion.EnableAura
#        Description: Enables Aura potions to be re-usable in combat. Eg haste potion,restoration potion
#        Default:     0 - Disabled
#                     1 - Enabled
#

ReusablePotion.EnableAura = 1

#
#    ReusablePotion.EnableMana
#        Description: Enables Mana potions to be re-usable in combat.
#        Default:     0 - Disabled
#                     1 - Enabled
#

ReusablePotion.EnableMana = 1

#
#    ReusablePotion.Verbose
#        Description: Enables the verbose logging.
#        Note: Keep this off on production unless debugging.
#        Default:     0 - Disabled
#                     1 - Enabled
#

ReusablePotion.Verbose = 0

#
#    ReusablePotion.PvPEnable
#        Description: Allows potions to be re-usable in pvp combat.
#        Default:     0 - Disabled
#                     1 - Enabled
#

ReusablePotion.PvPEnable = 0
