#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# ReusablePotion configuration
########################################
#
#    ReusablePotion.Enable
#        Description: Enables the reusable potion item.
#        Default:     0 - Disabled
#                     1 - Enabled
#

ReusablePotion.Enable = 1

#
#    ReusablePotion.Verbose
#        Description: Enables the verbose logging.
#        Note: Keep this off on production unless debugging.
#        Default:     0 - Disabled
#                     1 - Enabled
#

ReusablePotion.Verbose = 1

#
#    ReusablePotion.PvPEnable
#        Description: Allows the reusable potion in pvp combat.
#        Default:     0 - Disabled
#                     1 - Enabled
#

ReusablePotion.PvPEnable = 1

#
#    ReusablePotion.HealPercent
#        Description: The percentage of health to heal when using the potion.
#        Default:     25
#        Range:       0 - 100
#

ReusablePotion.HealPercent = 25
